@model ClientReservationViewModel

<style>
    .section {
        position: relative;
        height: 100vh;
    }

    .section .section-center {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #booking {
        font-family: 'Montserrat', sans-serif;
        background-image: url(https://images.squarespace-cdn.com/content/v1/5d11277b3f6b09000193902f/1584981202413-LSGUIFEJJVOT5HSSWL5A/nochintz-one-eight-six-landscape_0002_-interior-design-barbershop-mirrors.jpg);
        background-size: cover;
        background-position: center;
    }

    #booking::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(211, 211, 211, 0.7);
    }

    .booking-form {
        background-color: #fff;
        padding: 50px 20px;
        -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }

    .booking-form .form-group {
        position: relative;
        margin-bottom: 30px;
    }

    .booking-form .form-control {
        background-color: #ebecee;
        border-radius: 4px;
        border: none;
        height: 40px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #3e485c;
        font-size: 14px;
    }

    .booking-form .form-control::-webkit-input-placeholder {
        color: rgba(62, 72, 92, 0.3);
    }

    .booking-form .form-control:-ms-input-placeholder {
        color: rgba(62, 72, 92, 0.3);
    }

    .booking-form .form-control::placeholder {
        color: rgba(62, 72, 92, 0.3);
    }

    .booking-form input[type="date"].form-control:invalid {
        color: rgba(62, 72, 92, 0.3);
    }

    .booking-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .booking-form select.form-control+.select-arrow {
        position: absolute;
        right: 0px;
        bottom: 4px;
        width: 32px;
        line-height: 32px;
        height: 32px;
        text-align: center;
        pointer-events: none;
        color: rgba(62, 72, 92, 0.3);
        font-size: 14px;
    }

    .booking-form select.form-control+.select-arrow:after {
        content: '\279C';
        display: block;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .booking-form .form-label {
        display: inline-block;
        color: #3e485c;
        font-weight: 700;
        margin-bottom: 6px;
        margin-left: 7px;
    }

    .booking-form .submit-btn {
        display: inline-block;
        color: black;
        background-color: #C4A484;
        font-weight: 700;
        padding: 14px 30px;
        border-radius: 4px;
        border: none;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    .booking-form .submit-btn:hover,
    .booking-form .submit-btn:focus {
        opacity: 0.9;
    }

    .booking-cta {
        margin-top: 80px;
        margin-bottom: 30px;
    }

    .booking-cta h1 {
        font-size: 52px;
        text-transform: uppercase;
        color: #000;
        font-weight: 700;
    }

    .booking-cta p {
        font-size: 16px;
        color: #000;
    }

    .prices {
        color: blue;
    }
</style>
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1></h1>@Model.BarberFirstName @Model.BarberLastName</h1>
                        <h4>@Model.BarberLocation</h4>
                    </div>
                    <hr>
                    <div class="row">
                        <h4>Description:</h4>
                        <br>
                        <p>@Model.BarberDescription</p>
                    </div>
                    <hr>
                    <div class="row">
                        <h4>Experience:</h4>
                        <br>
                        <p>@Model.BarberExperience</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form asp-route-barberEmail="@Model.BarberEmail" asp-route-barberId="@Model.BarberId"
                            asp-controller="ClientReservation" asp-action="Reserve" method="post">
                            <div class="form-group">
                                <span class="form-label">Choose your services: </span>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.Haircut">
                                        <label class="form-check-label">Haircut <span class="prices">30$</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.BearTrim">
                                        <label class="form-check-label">Beard Trim <span
                                                class="prices">10$</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.SkinCare">
                                        <label class="form-check-label">Skin Care <span
                                                class="prices">40$</span></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-evenly">
                                    <div>
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.Wax">
                                        <label class="form-check-label">Wax <span class="prices">15$</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.QuickShower">
                                        <label class="form-check-label">Quick Shower <span
                                                class="prices">10$</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <div class="form-group">
                                        <span class="form-label">Choose Date: </span>
                                        <input asp-for="@Model.Date" class="form-control" type="datetime-local"
                                            required>
                                    </div>
                                    @if (ViewData["message"] != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                          @ViewData["message"]
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-btn">
                                <button type="submit" class="submit-btn">Reserve</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>