@model ProfileViewModel

<form asp-route-id="@Model.id" asp-controller="Client" asp-action="Profile" method="post">
    <div class="container rounded bg-dark text-white-50 mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">@Model.FirstName @Model.LastName</span>
                    <span class="text-white-50">@Model.Username</span>
                    <span><a class="text-white-50" asp-controller="Account"  asp-action="LogOut">Logout</a></span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Basic Information</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">First Name</label>
                            <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name"
                                value="@Model.FirstName" required>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Last Name</label>
                            <input asp-for="LastName" type="text" class="form-control" value="@Model.LastName"
                                placeholder="family name" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Phone Number</label>
                            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Phone Number"
                                value="@Model.PhoneNumber" required>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Email ID</label>
                            <input asp-for="Username" type="text" class="form-control" placeholder="Email Address"
                                value="@Model.Username" required disabled>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <input class="btn btn-primary profile-button" type="submit" value="Save">
                    </div>

                </div>

            </div>
</form>
<div class="col-md-4">
    <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center experience">
            <h4 class="text-right">History of Reservations</h4>
        </div><br>
        <div class="table-responsive">
            <table class="table w-100">
                <thead>
                    <tr class="text-white-50">
                        <th class="text-center" scope="col">Date/Time</th>
                        <th class="text-center" scope="col">Barber</th>
                        <th class="text-center" scope="col">Services</th>
                        <th class="text-center" scope="col">Cost</th>
                        <th class="text-center" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="text-white-50">
                    @foreach (var item in @Model.ReservationList){
                        <tr class="inner-box">
                        <td class="w-50">
                            <div>
                                <p>@item.StartTime</p>

                            </div>
                        </td>
                        <td class="w-50 text-center">
                            <div class="event-img">
                                <img width="75px" height="75px" src="https://tse1.mm.bing.net/th?id=OIP.avxhtQqr5FoubGjq4sIXugHaEo&pid=Api&rs=1&c=1&qlt=95&w=166&h=103"
                                    alt="" />
                                <p>@item.BarberEmail</p>
                            </div>
                        </td>
                        
                        <td>
                            <div class="w-50">
                                <ul>
                                
                                @{int price=0;
                                    @if(item.Haircut==true){
                                    price+=30;
                                    <li>Haircut</li>
                                }
                                @if(item.BearTrim==true){
                                    price+=10;
                                    <li>BeardTrim</li>
                                }
                                @if(item.SkinCare==true){
                                    price+=40;
                                    <li>SkinCare</li>
                                }
                                @if(item.Wax==true){
                                    price+=15;
                                    <li>Wax</li>
                                }
                                @if(item.QuickShower==true){
                                    price+=10;
                                    <li>QuickShower</li>
                                }}
                            </ul>
                            </div>
                            
                        </td>
                        <td>
                            <div class="w-50">
                                <span>@price$</span>
                            </div>
                        </td>
                        <td>
                            <a asp-controller="Client" asp-action="delete" asp-route-id="@item.Id">
                                <button class="material-symbols-outlined nav link bg-dark" type="button"
                                    style="color: red; border:none;">delete_forever</button>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
