@model IEnumerable<Barber>
@{
    ViewData["Title"] = "Home Page";
}

<div class="w-100">
    <img src="welcome.png" alt="welcome image" style="height: 600px">
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to Barber</h1>
    <h1>@ViewBag.x</h1>
</div>
<div>
    <div class="mb-4 align-content-start d-flex flex-wrap">
        @foreach (var barber in Model)
        {
            <div class="card m-1" style="width: 250px;" >
                <div style="text-align: center;">
                    <img class="card-img-top himage" src=@barber.IMG alt="Card image">
                </div>
                
                <div class="pl-4 card-body">
                    <h4 class="card-title">@barber.FirstName @barber.LastName</h4>
                    <p class="card-text">Location: @barber.Location</p>
                    <p class="card-text">Average Price: $@barber.averagePrice</p>
                    <p class="card-text">
                        @for (var i = 0; i < @barber.Rating; i++)
                        {
                            <i class="fa fa-star" aria-hidden="true"></i>
                        }
                    </p>
                    <a  class="btn btn-primary" asp-controller="Hotels" asp-action="viewHotel" asp-route-id="@barber.Id">View</a>
                    <a class="btn btn-danger" asp-controller="Hotels" asp-action="DeleteHotel" asp-route-id="@barber.Id">Delete</a>
                </div>
            </div>           
        }
    </div>
</div>
