@model IEnumerable<Barber>
@{
    ViewData["Title"] = "Home Page";
}

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div>
    <div class="text-center">
        <h1 class="display-4 bg-dark text-light p-2 rounded">Welcome to Barber</h1>
        <h1>@ViewBag.x</h1>
    </div>
    <div class="">

        <img class="img-fluid"
            src="https://tse2.mm.bing.net/th?id=OIP.u3QvYGyxSkIgXK3KvU1qwwHaCe&pid=Api&P=0&w=493&h=164" alt="New York"
            width="100%" height="600px" />
    </div>
</div>



<div>
    <div class="mb-4 align-content-start d-flex flex-wrap">
        @foreach (var barber in Model)
        {
            <div class="card m-1 rounded p-2 bg-dark" style="width: 250px;">
                <div style="text-align: center;">
                    <img class="card-img-top himage" src=@barber.IMG alt="Card image">
                </div>

                <div class="pl-4 card-body bg-dark m-1">
                    <h4 class="card-title bg-black text-light rounded text-center p-1">@barber.FirstName @barber.LastName
                    </h4>
                    <p class="card-text  bg-black text-light rounded text-center p-1">Location: @barber.Location</p>
                    <p class="card-text bg-black  text-light rounded text-center p-1">


                        @for (var i = 0; i < @barber.Rating; i++)
                        {
                            <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                        }
                    </p>
                    <p class="card-text bg-black text-light rounded text-center p-1">Average Price: $@barber.averagePrice
                    </p>
                    <div class="text-center">
                        <a class="btn btn-light text-dark rounded" asp-controller="Barber" asp-action="Index"
                        asp-route-id="@barber.Id">View</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
